<h1 class="text-2xl sm:text-3xl" aria-labelledby="about">ab0ut</h1>
<p class="mt-2">
  Hi, I'm Austin — software engineer &
  <img
    src="/assets/images/ferris.svg"
    class="inline h-6 -mt-1"
    alt="ferris the Rust crab mascot"
  />
  enthusiast.
</p>
<h2 class="text-xl mt-6 font-mono font-semibold">currently reading</h2>
<ul>
  <li class="bg-gray-100/10 rounded mt-4">
    <div class="flex items-center">
      <div class="flex-none rounded-full p-1 text-primary-500 pr-4">
        <div class="h-2 w-2 rounded-full bg-current"></div>
      </div>
      <a
        class="hover:text-primary-500"
        href="https://www.oreilly.com/library/view/designing-data-intensive-applications/9781491903063/"
      >
        <em>Designing Data-Intensive Applciations</em>
      </a>
    </div>
  </li>
  <li class="bg-gray-100/10 rounded mt-2">
    <div class="flex items-center">
      <div class="flex-none rounded-full p-1 text-primary-500 pr-4">
        <div class="h-2 w-2 rounded-full bg-current"></div>
      </div>
      <a
        class="hover:text-primary-500"
        href="https://nostarch.com/rust-rustaceans"
      >
        <em>Rust for Rustaceans</em>
      </a>
    </div>
  </li>
</ul>
