<div id="#outerReach">
  <!-- scroll spy progress bar -->
  <!-- <div -->
  <!--   x-data="{offset: '0%'}" -->
  <!--   class="transition h-2 sm:h-3 fixed top-0 left-0 bg-secondary-500 rounded" -->
  <!--   :style="{ width: offset}" -->
  <!--   :class="{ 'sm:hidden': !atTop }" -->
  <!--   @scroll.window="offset = (window.pageYOffset / (document.body.scrollHeight - window.innerHeight) * 100).toString() + '%'" -->
  <!-- ></div> -->
  <div class="max-w-2xl m-auto mb-[-44px] min-h-screen">
    {% include "partials/innerPost.html" %}
  </div>
  <div
    style="width: 40rem; position: fixed; top: 0; right: -30rem; z-index: 999"
  >
    <div
      id="miniview"
      style="
        transform: scale(0.25);
        top: 0px;
        width: 667.524%;
        height: 667.524%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform-origin: 0 0;
        border: 0;
      "
      class="hidden lg:block lg:mt-20 2xl:mt-0 scrollbar-hide pt-10"
      x-data="{miniOffset: 0, scrollNeeded: window.innerHeight < document.querySelectorAll('.content')[1].getBoundingClientRect().height + 100}"
      @scroll.window="miniOffset = scrollNeeded ? window.pageYOffset * .05 + 'px' : '0px'"
      x-effect="$el.style.top = '-' + miniOffset"
    >
      <div
        x-data="{ viewOffset: 0 }"
        :style="{ top: viewOffset }"
        @scroll.window="viewOffset = window.pageYOffset + 'px'"
        class="bg-black/10 dark:bg-secondary-300/20 w-full absolute left-0 mx-auto pt-[187%]"
      ></div>
      {% include "partials/innerPost.html" %}
    </div>
  </div>
</div>
