<nav
  class="flex items-center justify-between z-10 p-6 lg:px-8 sticky top-0 left-0 right-0 font-lg transition duration-300 ease-in-out"
  :class="{ 'shadow-lg dark:shadow-white/10 backdrop-blur': atTop, 'bg-white/5': atTop }"
  @scroll.window="atTop = (window.pageYOffset < 50) ? false: true"
>
  <div class="flex lg:flex-1">
    <a href="/" class="-m-1.5 font-mono hover:text-pink-500">
      <div class="group relative cursor-pointer rounded">
        <div class="flex items-center relative">
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: 0ms"
          >
            _
          </div>
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: 25ms"
          >
            0
          </div>
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: 50ms"
          >
            0
          </div>
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: 75ms"
          >
            _
          </div>
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: 100ms"
          >
            _
          </div>
          <div class="absolute bottom-0 left-0 flex items-center">
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: 0ms"
            >
              r
            </div>
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: 25ms"
            >
              0
            </div>
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: 50ms"
            >
              0
            </div>
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: 75ms"
            >
              k
            </div>
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: 100ms"
            >
              s
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="flex lg:hidden">
    <button
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-100"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <a
      href="/"
      class="text-sm font-semibold font-mono leading-6 text-gray-900 dark:text-gray-200 hover:text-pink-500"
      >ab0ut</a
    >
    <a
      href="/blog"
      class="text-sm font-semibold font-mono leading-6 text-gray-900 dark:text-gray-200 hover:text-pink-500"
      >bl0g</a
    >
    <a
      href="/photos"
      class="text-sm font-semibold font-mono leading-6 text-gray-900 dark:text-gray-200 hover:text-pink-500"
      >ph0t0s</a
    >
  </div>
</nav>
