<div x-cloak>
  <div
    class="h-screen w-screen z-10 fixed bg-white/20 dark:bg-black/20 backdrop-blur md:hidden mt-[72px]"
    x-show="open"
    x-transition.scale.origin.left
  >
    <div class="space-y-1 px-2 pb-3 pt-2">
      {% for link in links %}
      <a
        href="/{{ link }}"
        class="transition hover:bg-zinc-900/5 hover:font-bold dark:hover:bg-black/20 text-gray-700 dark:text-gray-300 hover:text-primary-500 dark:hover:text-primary-400 block rounded-md px-3 py-2 font-medium"
        >{{ link }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>
<nav
  class="flex mx-3 px-6 sm:m-auto max-w-3xl border-black/10 dark:border-white/10 mt-3 rounded-full sm:px-16 tems-center justify-between z-10 py-6 sticky top-3 left-0 right-0 font-lg transition duration-150 ease-in-out"
  :class="{ 'shadow-lg': atTop && !open, 'dark:shadow-black/90 backdrop-blur bg-white/5 dark:bg-black/5': atTop }"
  @scroll.window="atTop = (window.pageYOffset > 50)"
>
  <div class="flex">
    <a
      href="/"
      class="-m-1.5 font-mono font-bold text-lg text-primary-400 hover:text-primary-500 dark:hover:text-primary-300"
    >
      <div class="group relative cursor-pointer rounded">
        <div class="flex items-center relative">
          {% set normal = ["_", "0", "0", "_", "_"] %} {% for char in normal %}
          <div
            class="origin-top transition-transform duration-150 ease-in-out group-hover:scale-y-0"
            style="transition-delay: {{loop.index * 25}}ms"
          >
            {{ char }}
          </div>
          {% endfor %}
          <div class="absolute bottom-0 left-0 flex items-center">
            {% set hovered = ["r", "0", "0", "k", "s"] %} {% for char in hovered
            %}
            <div
              class="origin-bottom transition-transform duration-150 ease-in-out scale-y-0 group-hover:scale-y-100"
              style="transition-delay: {{loop.index * 25}}ms"
            >
              {{ char }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </a>
  </div>
  <div
    x-data="{ title: '', setTitle(title) { this.title = title } }"
    @htmx:after-swap.window="setTitle(document.querySelector('#title')?.innerText)"
  >
    <span
      x-text="title"
      class="transition font-semibold text-black dark:text-white hidden sm:block"
      :class="{ 'sm:hidden': !atTop }"
    ></span>
  </div>
  <div class="flex md:hidden">
    <button
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-primary-400 dark:text-primary-500 hover:text-primary-500 dark:hover:text-primary-400"
      @click="open = !open"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-6 w-6 hover:scale-110 transition duration-150"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        x-show="!open"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
      <svg
        class="h-6 w-6 hover:scale-110 transition duration-150"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        x-show="open"
        x-cloak
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div class="hidden md:flex md:gap-x-12">
    {% for link in links %}
    <a
      href="/{{ link }}"
      class="transition text-sm font-semibold leading-6 text-primary-400 hover:text-primary-500 dark:hover:text-primary-300"
      >{{ link }}</a
    >
    {% endfor %}
  </div>
</nav>
