<!-- Mobile nav -->
<div x-cloak >
  <div
    class="h-screen w-screen z-10 px-6 fixed bg-white/20 dark:bg-black/20 backdrop-blur-lg md:hidden pt-32"
    x-show="open"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 scale-90 translate-y-[100vh]"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90 translate-y-[100vh]"
  >
    <div class="space-y-1 px-2 pb-3 pt-10 font-mono text-lg">
      {% for link in links %}
      <a
        href="/{{ link }}"
        class="transition text-gray-700 dark:text-gray-300 hover:text-secondary-500 dark:hover:text-secondary-400 block rounded-md py-2 font-medium"
        >{{ link }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>
<!-- - -->
<nav
  class="flex mx-3 py-3 pl-3 pr-6 sm:m-auto sm:mx-3 lg:max-w-full lg:mx-3 xl:mx-auto xl:max-w-6xl max-w-6xl border-black/10 dark:border-white/10 mt-3 rounded-2xl sm:pl-6 sm:pr-16 items-center justify-between z-10 sticky top-3 left-0 right-0 font-lg transition duration-150 ease-in-out"
  :class="{ 'shadow': atTop && !open, 'dark:shadow-primary-500/90 backdrop-blur bg-white/5 dark:bg-black/5': atTop }"
  @scroll.window="atTop = (window.pageYOffset > 50)"
>
  <div class="flex">
    <a
      href="/"
      class="-m-1.5 font-mono font-bold text-lg text-primary-500 dark:text-primary-400 hover:text-secondary-500"
      aria-label="Return to home"
    >
      <!-- <img -->
      <!--   src="/assets/images/mobius.webp" -->
      <!--   class="sm:motion-safe:hover:scale-110 transition h-16 w-16 -p-2" -->
      <!--   alt="mobius strip" -->
      <!-- /> -->
      <p
        class="text-3xl self-center transition font-mono font-semibold leading-6 text-primary-700 dark:text-primary-300 hover:text-secondary-500"
        :class="{ 'text-zinc-400 dark:text-primary-600': atTop }"
      >
        *
      </p>
    </a>
  </div>
  <div
    x-data="{ title: '', setTitle(title) { this.title = title } }"
    @htmx:after-swap.window="setTitle(document.querySelector('#title')?.innerText)"
  >
    <a
      href="#"
      aria-label="Return to the top of the page"
      class="transition font-semibold text-lg text-primary-700 dark:text-primary-300 hidden sm:block hover:text-secondary-500"
    >
      <span x-text="title" :class="{ 'sm:hidden': !atTop }"></span
    ></a>
  </div>
  <div class="flex md:hidden">
    <button
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-primary-500 dark:text-primary-400 hover:text-secondary-500 dark:hover:text-secondary-400"
      @click="open = !open"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-6 w-6 hover:scale-110 transition duration-150"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        x-show="!open"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
      <svg
        class="h-6 w-6 hover:scale-110 transition duration-150"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        x-show="open"
        x-cloak
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div class="hidden md:flex md:gap-x-12">
    {% for link in links %}
    <a
      href="/{{ link }}"
      class="transition font-mono text-sm font-semibold leading-6 text-primary-700 dark:text-primary-300 hover:text-secondary-500"
      :class="{ 'text-zinc-400 dark:text-primary-600': atTop }"
      >{{ link }}</a
    >
    {% endfor %}
  </div>
</nav>
