<nav
  class="flex items-center justify-between border-t border-slate-200 dark:border-slate-700 px-4 sm:px-0"
>
  <div class="-mt-px flex w-0 flex-1">
    {% if pagination.current == 0 %}{% else %}
    <a
      class="group inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-slate-500 hover:border-secondary-400 dark:hover:border-secondary-500 hover:text-secondary-500 cursor-pointer"
      href="{{ pagination.previous }}#"
      hx-target="#content"
      hx-swap="innerHTML transition:true show:body:top"
    >
      <svg
        class="mr-3 h-5 w-5 text-slate-500 group-hover:fill-secondary-500 group-hover:translate-x-1 transition"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
          clip-rule="evenodd"
        />
      </svg>
      Previous
    </a>
    {% endif %}
  </div>
  <div class="hidden md:-mt-px md:flex">
    {% for page in pagination.pages %}
    <a
      class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-slate-500 hover:border-secondary-400 dark:hover:border-secondary-500 hover:text-secondary-500 dark:hover:text-secondary-400 {% if pagination.current == page %} text-primary-400{% endif %} cursor-pointer"
      href="/bl0g?page={{ page }}#"
      hx-target="#content"
      hx-swap="innerHTML transition:true show:body:top"
      >{{ page }}</a
    >
    {% endfor %}
  </div>
  <div class="-mt-px flex w-0 flex-1 justify-end">
    {% if pagination.current == pagination.pages_len %}{% else %}
    <a
      class="group inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-slate-500 hover:border-secondary-400 dark:hover:border-secondary-500 hover:text-secondary-500 dark:hover:text-secondary-400 cursor-pointer"
      href="{{ pagination.next }}#"
      hx-target="#content"
      hx-swap="innerHTML transition:true show:body:top"
    >
      Next
      <svg
        class="ml-3 h-5 w-5 text-slate-500 group-hover:fill-secondary-500 group-hover:translate-x-1 transition"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
    {% endif %}
  </div>
</nav>
