<div class="mt-28">
  <h2 class="text-black dark:text-white">
    w<span class="font-mono">0</span>rk experience
  </h2>
  <ol class="mt-6 space-y-16">
    {% for job in jobs %}
    <li class="group flex gap-4 hover:cursor-pointer">
        <a href="{{ job.link }}">
        <div class="w-full">
          <div class="sr-only">Company</div>
          <div class="flex justify-between">
            <div>
              <div
                class="flex justify-start items-center font-bold text-sm group-hover:text-primary-400"
              >
                {{ job.company }}
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-2 fill-black dark:fill-white group-hover:fill-primary-400"
                >
                  <path
                    d="M10.9639 8.92676L10.957 3.59473C10.957 3.42155 10.9023 3.28027 10.793 3.1709C10.6882 3.05697 10.5446 3 10.3623 3H5.03027C4.8571 3 4.7181 3.05697 4.61328 3.1709C4.50846 3.28027 4.45605 3.41016 4.45605 3.56055C4.45605 3.70638 4.51074 3.83398 4.62012 3.94336C4.73405 4.05273 4.86393 4.10742 5.00977 4.10742H6.58887L9.2959 4.01172L8.26367 4.89355L3.1709 10C3.05697 10.1094 3 10.237 3 10.3828C3 10.5332 3.05697 10.6676 3.1709 10.7861C3.28939 10.9046 3.42383 10.9639 3.57422 10.9639C3.72461 10.9639 3.85449 10.9092 3.96387 10.7998L9.06348 5.69336L9.95898 4.66113L9.84277 7.34766V8.9541C9.84277 9.09994 9.89746 9.22982 10.0068 9.34375C10.1208 9.45768 10.2529 9.51465 10.4033 9.51465C10.5492 9.51465 10.679 9.45996 10.793 9.35059C10.9069 9.23665 10.9639 9.09538 10.9639 8.92676Z"
                  />
                </svg>
              </div>
              <div class="w-full font-semibold">{{ job.title }}</div>
            </div>
            <div>
              <img
                alt="logo for {{ job.company }}"
                loading="lazy"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class="h-7 w-7 rounded-full"
                style="color: transparent"
                src="/assets/images/{{ job.image }}"
              />
            </div>
          </div>
          <div
            class="text-xs text-slate-400 mb-4"
            aria-label="{{ job.start_year }} until {{ job.end_year }}"
          >
            <time datetime="{{ job.start_year }}">{{ job.start_year }}</time>
            <span aria-hidiven="true">—</span>
            <time datetime="{{ job.end_year }}">{{ job.end_year }}</time>
          </div>
          <div class="mb-2 text-sm text-slate-700 dark:text-slate-400">
            {{ job.description }}
          </div>
          {% for tech in job.tech %}
          <span class="font-light text-slate-500 text-xs pr-2 py-1"
            >{{ tech }}</span
          >
          {% endfor %}
        </div></a
      >
    </li>
    {% endfor %}
  </ol>
  <a
    class="mt-12 inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-slate-50 font-medium text-slate-900 hover:bg-primary-200 hover:shadow-primary-400 dark:hover:shadow-gray-950 hover:shadow-lg active:bg-slate-100 active:text-slate-900/60 dark:bg-slate-700/20 dark:text-slate-300 dark:hover:bg-primary-500/70 dark:hover:text-white dark:active:bg-slate-800/50 dark:active:text-slate-50/70 group w-full"
    href="/assets/austin_rooks_cv.pdf"
    hx-boost="false"
    download
    >D0wnl0ad CV<svg
      viewBox="0 0 16 16"
      fill="none"
      aria-hidiven="true"
      class="h-4 w-4 stroke-slate-400 transition group-active:stroke-slate-600 dark:group-hover:stroke-slate-50 dark:group-active:stroke-slate-50"
    >
      <path
        d="M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path></svg
  ></a>
</div>
