{% extends "layout.html" %} {% block body %}
<div>
  <div>
    <div class="text-center">
      <div class="flex justify-center items-center">
        <img
          src="/assets/images/selfportrait.jpg"
          alt="Black cat in black and white."
          class="rounded-full h-[100px]"
        />
        <h1
          class="text-4xl font-mono font-bold tracking-tight text-gray-900 dark:text-gray-300 sm:text-6xl"
        >
          austin r00ks
        </h1>
      </div>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-200">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
      </p>
    </div>
  </div>
  <div class="pt-10">
    {% for post in posts %}
    <div class="group cursor-pointer">
      <a
        hx-get="/post/{{ post.title }}"
        hx-swap="outerHTML"
      >
        <div>
          <span class="font-light text-sm text-gray-600 dark:text-gray-300"
            >{{ post.date | date(format="%B %d, %Y") }}</span
          >
          <span class="group-hover:text-pink-500"
            >{{ post.title | replace(from="_", to=" ") | title }}</span
          >
        </div>
        <div class="italic text-sm">{{ post.description }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
