<!DOCTYPE html>
<html lang="en">
    <head>
        <title>bl0g.r00ks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
        <meta name="description" content="A personal blog about tech and literature.">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="/assets/output.css" rel="stylesheet">
    </head>
    <body>
    {% block body %}
    {% endblock %}
        <script src="/assets/js/htmx.min.js"></script>
    </body>
</html>
