<!doctype html>
<html lang="en">
  <head>
    <title>bl0g.r00ks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta
      name="description"
      content="A personal blog about tech and literature."
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="min-h-screen bg-gradient-to-b from-teal-50 to-white dark:bg-gray-900 dark:from-gray-900/80 dark:to-gray-900/80"
    >
      <header></header>
      <main class="pt-10 min-h-full">
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          {% block body %} {% endblock %}
        </div>
      </main>
      <footer></footer>
    </div>

    <script src="/assets/js/htmx.min.js"></script>
  </body>
</html>
