<!doctype html>
<html lang="en">
  <head>
    <title>r00ks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A personal blog about tech and literature."
    />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFF" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#020617" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <link href="/assets/output.css" rel="stylesheet" type="text/css" />
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
  </head>
  <body class="bg-white dark:bg-slate-950 dark:text-gray-100">
    <div
      class="absolute inset-x-0 top-0 z-50"
      x-data="{ atTop: false, open: false }"
    >
      {% include "includes/header.html" %}

      <div class="relative isolate px-2 sm:px-6 pt-14 lg:px-8">
        <div
          class="w-full left-0 top-0 absolute -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-40 blur-3xl sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50"
          aria-hidden="true"
        >
          <div
            class="w-full aspect-[1154/678] bg-gradient-to-br from-cyan-500 to-primary-400 dark:from-cyan-700 dark:to-primary-400"
            style="
              clip-path: polygon(
                100% 38.5%,
                82.6% 100%,
                60.2% 37.7%,
                52.4% 32.1%,
                47.5% 41.8%,
                45.2% 65.6%,
                27.5% 23.4%,
                0.1% 35.3%,
                17.9% 0%,
                27.7% 23.4%,
                76.2% 2.5%,
                74.2% 56%,
                100% 38.5%
              );
            "
          ></div>
        </div>
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-pink-50 to-primary-600 dark:to-primary-500 opacity-70 sm:opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
        <div
          class="mx-auto max-w-4xl py-32 bg-white/20 dark:bg-black/20 p-4 sm:p-16 rounded-xl"
          hx-boost="true"
        >
          {% block body %} {% endblock %} {% include "includes/footer.html" %}
        </div>
      </div>
    </div>
    <script src="/assets/js/htmx.min.js" defer></script>
    <script src="/assets/js/alpine.min.js" defer></script>
  </body>
</html>
